# Virtual environment (if used)
venv/
venv*/
*.venv
.env/
.env
.env-non-dev

# Editor specific files
.idea/
migrations/

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

reactjs/node_modules
reactjs/dist
reactjs/dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#config
reactjs/src/config.js